.exon {
    background-color: #ffee99;
}

.tag {
    background-color: #99eeff;
}

a img {
    vertical-align: middle;
    margin-bottom: .2em;
}

#positionBox {
    background-color:#f0f8ff; 
    margin-bottom:20px;padding:5px;
}

.num {
    width:50px;
    text-align:right;
    padding-left:5xp;
    padding-right:5px;
    font-size:80%;
}
.warn {
    background-color:#ffeeee;
    padding-left:2px;
}

.table-condensed>tbody>tr>td {
    padding-top:0;
    padding-bottom:0;
    margin:0;
}

pre {
    margin-top:0;
    margin-bottom:0;
    
    padding-top:0;
    padding-bottom:0;
    padding-left:0px;
    padding-right:0px;
}

.sequence {
    margin-top:5px;
}

#data {   
    padding-top:30px;
    
}

.col-fixed {
    width:200px;
}

.jumbotron {
    padding: 1em;
    padding-bottom:0.1em;
 }
#blast_form {
    background-color: #e0e8ff;
    opacity:1;
    padding:5px;    
}

a.anchor{display: block; position: relative; top: -200px; visibility: hidden;}