<!doctype html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

</head>
<body ng-app="geneInfoApp">
    <h1>geneInfo</h1>
    <div ng-controller="geneInfoCtrl as gi">
        <form>
            <div class="row">
                <div class="col-xs-2">
                    <div class="input-group">
                        <input type="text" name="geneName" class="form-control" placeholder="Enter gene name" ng-model="formInfo.gene"/>    
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-success" ng-click="gi.findGene()">Find</button>
                        </span>
                    </div>
                </div>
            </div>                    
        </form>
        <br/>
        <div ng-show="geneInfo.id" ng-controller="TabController as tab">            
            <table class="table">
                <tr>
                    <th>Gene name</th><td><b>{{geneInfo.display_name}}</b> <em>(Ensembl ID: {{geneInfo.id}} ) </em></td>
                </tr>
                <tr>
                    <th>Description</th><td>{{geneInfo.description}}</td>
                </tr>
                <tr>
                    <th>Location</th><td>{{geneInfo.seq_region_name}} : {{geneInfo.start | number}} - {{geneInfo.end | number}}</td>
                </tr>
                <tr>               
                    <th>Length</th><td> {{geneInfo.end - geneInfo.start | number}}bp</td>
                </tr>
            </table>

            <table class="table table-strip"  >
                <tr>
                    <td  style="vertical-align:text-top;">
                        <ul ng-repeat="transcript in geneInfo.Transcript" class="nav nav-pills">
                            <li><a ng-click="tab.setTab(transcript.id)" href>{{transcript.id}}</a></li>
                        </ul>
                    </td>
                    <td ng-repeat="transcript in geneInfo.Transcript">
                        <div ng-show="tab.isSet(transcript.id)">
                            <h4>{{transcript.id}}</h4>
                            <em>Translation: {{transcript.Translation.id}}</em><br/>
                            <em>CDNA:{{transcript.cdna}} </em>
                            <em>Protein:{{transcript.protein}}</em>
                            <em>{{transcript.Exon.length}} exons</em>
                            <div ng-repeat="exon in transcript.Exon">
                                <p style="padding-left:20px">{{exon.id}} *  <em class="pull-right"> {{exon.start - geneInfo.start}} .. {{exon.end - geneInfo.start}}</em></p>
                            </div>
                        </div>                
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script src="//code.angularjs.org/1.2.20/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="/js/geneInfo.js"></script>
</body>
</html>
