<!doctype html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/css/geneInfo.css">

    <!-- adde to enable sticky goto box -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  
</head>
<body ng-app="geneInfoApp" data-spy="scroll" data-target="#myScrollspy">
    <a id="top" name="top" href="#"></a>
    <div class="jumbotron"><h2>geneInspector</h2></div>
    <div ng-controller="geneInfoCtrl as gi">
        <form>
            <div class="pull-right">
                <span>Species: </span>
                <select style="height:30px" ng-options="obj.name as obj.display_name + ' ('+obj.assembly+')' for obj in gi.speciesList | orderBy:' display_name'" ng-model="gi.species">
                </select>
            </div>
            <div class="col-xs-2">
                <div class="input-group">
                    <input type="text" id="geneName" name="geneName" class="form-control" placeholder="Enter gene name" ng-model="formInfo.gene"/>    
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success" ng-click="gi.findGene()">Find</button>
                    </span>
                </div>
            </div>                
        </form>
      
        <div ng-show="geneInfo.id" ng-controller="TabController as tab" ng-cloak id="data">            
            <table class="table table-condensed table-striped">
                <tr>
                    <th>Gene name</th><td><b>{{geneInfo.display_name}}</b> <em>(Ensembl ID: {{geneInfo.id}} ) </em><a href="{{geneInfo.url}}" target="_blank"><img src="/i/e-quest.gif" title="View in Ensembl" /></a></td>
                </tr>
                <tr>
                    <th>Description</th><td>{{geneInfo.description}}</td>
                </tr>
                <tr>
                    <th>Location</th><td>{{geneInfo.seq_region_name}} : {{geneInfo.start | number}} - {{geneInfo.end | number}} <em>{{geneInfo.strand_str}} strand</em></td>
                </tr>
                <tr>               
                    <th>Length</th><td> {{geneInfo.end - geneInfo.start + 1| number}}bp</td>
                </tr>
            </table>
            
            <div class="row" >
                <div class="col-xs-2" >
                    <ul class="nav nav-pills nav-stacked">
                        <em>Choose a transcript</em>
                        <li ng-repeat="transcript in geneInfo.Transcript" ng-class="{active:tab.isSet(transcript.id)}"
                                ng-click="tab.setTab(transcript.id)"><a href="#">{{transcript.id}} <em ng-show="transcript.Translation">({{transcript.protein.length}} aa)</em></a></li>
                    </ul>                                        
                </div>
                
                
                <div class="col-xs-6">
                    <div ng-show="loading" style="text-align:center">
                        Loading sequence ...
                    </div>
                    <div ng-hide="formInfo.coding == true">
                        <div class="sequence" id="a_{{$index}}" ng-repeat="segment in geneInfo.segments track by $index">
                            <table class="table-condensed">
                                <tr ng-show="geneInfo.psegments[$index].indexOf('-') > -1">
                                    <td class="num">{{geneInfo.isegments[$index]}}</td>
                                    <td><pre><span ng-bind-html="geneInfo.psegments[$index]"></span></pre></td>
                                    <td class="num">{{ geneInfo.isegments[$index] + baseCount(geneInfo.psegments[$index]) -1 }}</td>
                                </tr>
                                <tr>
                                    <td class="num">{{ ($index * formInfo.width) + 1 | number }}</td>
                                    <td><pre><span ng-bind-html="geneInfo.segments[$index]"></span></pre></td>
                                    <td class="num">{{ ($index * formInfo.width) + baseCount(geneInfo.segments[$index]) | number }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div ng-show="formInfo.coding == true">
                        <div class="sequence" id="b_{{$index}}" ng-repeat="segment in geneInfo.csegments track by $index">
                            <table class="sequence">
                                <tr ng-show="geneInfo.pcsegments[$index].indexOf('-') > -1">
                                    <td class="num">{{geneInfo.icsegments[$index]}}:</td>
                                    <td><pre><span ng-bind-html="geneInfo.pcsegments[$index]"></span></pre></td>
                                    <td class="num">{{ geneInfo.icsegments[$index] + baseCount(geneInfo.pcsegments[$index]) -1 }}</td>
                                </tr>
                                <tr>
                                    <td class="num">{{ ($index * formInfo.width) + 1 | number }}:</td>
                                    <td><pre><span  class="exon" ng-bind-html="geneInfo.csegments[$index]"></span></pre></td>
                                    <td class="num">{{ ($index * formInfo.width) + baseCount(geneInfo.segments[$index]) | number }}</td>
                                </tr>                                        
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-xs-1 form-group" id="myScrollspy">                        
                    <div class="input-group"  data-spy="affix" data-offset-top="0" id="positionBox">
                    <form role="form" class="form-horizontal">    
                        <input type="text" name="pos" class="form-control input-sm" placeholder="Enter position" ng-model="formInfo.pos"/>    
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-success" ng-click="gi.findBP(tab)">bp</button>
                        </span>
                        <span ng-show="tab.hasTranslation()" class="input-group-btn">
                            <button type="submit" class="btn btn-success" ng-click="gi.findAA(tab)">aa</button>
                        </span>    
                        <span class="warn" ng-show="gi.foundSeq">{{ gi.foundSeq }}</span>
                        <a style="float:right;" href="#" onclick="window.scrollTo(0, 0);">top</a>
                        <span ng-show="tab.hasTranslation()">
                            <em>Show coding sequence only:</em> <input type="checkbox" ng-model="formInfo.coding" ng-change="tab.setTab()" name="coding"/>
                        </span>
                        
                     </form>   
                    </div>
                </div>
            </div>  
        </div>
    </div>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    <script src="//code.angularjs.org/1.2.20/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="/js/geneInfo.js"></script>
</body>
</html>
